#gardenia #cabeza {
  transform-origin: 46% 28%;
  animation: moverCabeza 3s cubic-bezier(0.5,-0.07, 0.51, 1.22) infinite;
}

#gardenia #capa {
  transform-origin: top;
  animation: moverCapa 10s cubic-bezier(0.5,-0.07, 0.51, 1.22) infinite;
}

#gardenia #capader {
  transform-origin: -11em 7em;
  animation: moverCapaDer 5s cubic-bezier(0.5,-0.07, 0.51, 1.22) infinite;
}

#gardenia #capaizq {
  transform-origin: 8em 13em;
  animation: moverCapaIzq 5s cubic-bezier(0.5,-0.07, 0.51, 1.22) infinite;
}

#anturio #cabeza {
  transform-origin: -17em 24em;
  animation: moverCabeza 0.3s ease-out infinite;
}

#anturio #brazo {
  transform-origin: -26em 25em;
  animation: moverBrazo 0.25s ease-out infinite;
}

#gardenia2 #cabeza {
  transform-origin: 46% 28%;
  animation: moverCabeza 20s cubic-bezier(0.5,-0.07, 0.51, 1.22) infinite;
}

#gardenia2 #capa {
  transform-origin: top;
  animation: moverCapa 30s cubic-bezier(0.5,-0.07, 0.51, 1.22) infinite;
}

#gardenia2 #capader {
  transform-origin: -11em 7em;
  animation: moverCapaDer 2s cubic-bezier(0.5,-0.07, 0.51, 1.22) infinite;
}

#gardenia2 #capaizq {
  transform-origin: 8em 13em;
  animation: moverCapaIzq 2s cubic-bezier(0.5,-0.07, 0.51, 1.22) infinite;
}

#cactus #cabeza {
  transform-origin: 46% 28%;
  animation: moverCabezaCactus 0.5s cubic-bezier(0.5,-0.07, 0.51, 1.22) infinite;
}

#cactus #brazoder {
  transform-origin: 13em 16em;
  animation: moverBraDer 0.5s cubic-bezier(0.5,-0.07, 0.51, 1.22) infinite;
}

#cactus #brazoizq {
  transform-origin: 8em 13em;
  animation: moverBraIzq 0.5s cubic-bezier(0.5,-0.07, 0.51, 1.22) infinite;
}

@keyframes moverCabeza {
  0% {
    transform: rotate(-3deg);
  }

  50% {
    transform: rotate(1deg);
  }

  100% {
    transform: rotate(-3deg);
  }
}

@keyframes moverCabezaCactus {
  0% {
    transform: translate(0em,2em) rotate(-3deg);
  }

  50% {
    transform: translate(0em,2em) rotate(1deg);
  }

  100% {
    transform: translate(0em,2em) rotate(-3deg);
  }
}

@keyframes moverCapa {
  0% {
    transform: translate(0em,0em) rotateZ(0deg);
  }

  50% {
    transform: translate(0em,0em) rotateZ(1deg);
  }

  100% {
    transform: translate(0em,0em) rotateZ(0deg);
  }
}

@keyframes moverCapaDer {
  0% {
    transform: translate(19.95em,5.49em) rotate(3deg);
  }

  50% {
    transform: translate(19.95em,5.49em) rotate(-2deg);
  }

  100% {
    transform: translate(19.95em,5.49em) rotate(3deg);
  }
}

@keyframes moverCapaIzq {
  0% {
    transform: rotate(-2deg) translate(15.9em, 0.1em);
  }

  50% {
    transform: rotate(5deg) translate(15.9em, 0.1em);
  }

  100% {
    transform: rotate(-2deg) translate(15.9em, 0.1em);
  }
}

@keyframes moverBraDer {
  0% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(3deg);
  }
}

@keyframes moverBraIzq {
  0% {
    transform: rotate(-2deg);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-2deg);
  }
}

@keyframes moverBrazo {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(0.5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

