:root{
    --circulo: 0;
    --rotacion:0deg
}

body{
    overflow: hidden;
    font-family: Roboto
}
.container-fluid{
	height: 100vh
}

.principal{
	height: 100vh;
	z-index: 1
}

.tierra{
	height: 32%;
	z-index: 2 !important;
    background: rgba(95,64,53,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(95,64,53,1) 0%, rgba(79,54,46,1) 34%, rgba(78,47,44,1) 91%, rgba(78,47,44,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(95,64,53,1)), color-stop(34%, rgba(79,54,46,1)), color-stop(91%, rgba(78,47,44,1)), color-stop(100%, rgba(78,47,44,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(95,64,53,1) 0%, rgba(79,54,46,1) 34%, rgba(78,47,44,1) 91%, rgba(78,47,44,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(95,64,53,1) 0%, rgba(79,54,46,1) 34%, rgba(78,47,44,1) 91%, rgba(78,47,44,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(95,64,53,1) 0%, rgba(79,54,46,1) 34%, rgba(78,47,44,1) 91%, rgba(78,47,44,1) 100%);
    background: radial-gradient(ellipse at center, rgba(95,64,53,1) 0%, rgba(79,54,46,1) 34%, rgba(78,47,44,1) 91%, rgba(78,47,44,1) 100%);
    opacity: 0.9
}

/*.statsradial,.statsradial div,.planta,.stats,.emocion,.tierra{
	border: 1px solid black;
    }*/

    .stats, .emocion, .planta, .statsradial > div, .stats > .row{
       height: 100%
   }

   .stat{
    background-color: white;
    display: block;
    border-radius: 4px;
    margin-left: 30%;
    margin-right: 0;
    width: auto;
    height: auto;
    text-align: center
}
.stat > .row{
    height: 100%;
    padding: 1em
}
.stat i{
    font-size: 1.2em;
    padding-right: calc(var(--circulo)/25)
}
.stat span{
    font-size: 1.2em
}
.stat:before{
    content: "";
    display: block;
    position: absolute;
    background-color: #ffffff;
    height: calc(var(--circulo)/18);
    left: auto;
    width: calc(var(--circulo)/18);
    right: calc(var(--circulo)/-40);
    top: 48%;
    transform: rotate(45deg);
    bottom: auto
}
.temp,.luz,.humaire,.humagua{
    font-size: 0.8em;
    height: calc(7em / 3.5)
}
.centro{
	height: 70%
}

/* Fondo cielo */
.cielo{
    position: fixed;
    top: 0;
    margin-top: calc(8000px / -4);
    height: 8000px;
    width: 8000px;
    margin-left: calc(8000px/-5);
    -webkit-animation-name: spin;
    -webkit-animation-duration: 86400s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 86400s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 86400s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 86400s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-color: lightblue
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.hora{
    animation-delay: -40000s; 
    -webkit-animation-delay: -40000s
}

/* Menú y stats radial*/
.statsradial{
	height: 30%
}
.statsradial > .col-8{
    flex: 0 0 var(--circulo);
    padding: 0;
    height: 100%;
    width: var(--circulo);
    max-width: var(--circulo)
}

/* Menú circular*/
.menucircular{
    width: var(--circulo);
    height: 200%;
    border-radius: 50%;
    transform: rotate(var(--rotacion))
}
.menucircular2{
    width: var(--circulo);
    height: auto;
    border-radius: 50%;
    position: absolute
}
.menucircular li {
    list-style: none;
    display: block;
    height: calc(var(--circulo)/4.5);
    width: calc(var(--circulo)/4.5);
    position: absolute 
}
.menucircular li > div{
    background: white;
    border-radius: 50%;
    height: calc(var(--circulo)/4.5);   
    width: calc(var(--circulo)/4.5);
    margin-top: 95%;
    box-shadow: 0px 0px 1em #0000007a
}
.menucircular li .altura{
    padding-bottom: calc(var(--circulo))
}
.menucircular #uno{
    top: 0;
    bottom:auto;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: rotate(calc((360/4)*4deg))
}
.menucircular #dos{
    top: 0;
    bottom:0;
    left: auto;
    right: 0;
    margin: auto 0;
    transform: rotate(calc((360/4)*1deg))
}
.menucircular #tres{
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: rotate(calc((360/4)*2deg))
}
.menucircular #cuatro{
    top: 0;
    bottom:0;
    left: 0;
    right: auto;
    margin: auto 0;
    transform: rotate(calc((360/4)*3deg))
}

@media (max-width:600px){
    .statsradial > .col-8{
        height: 90%;
        bottom: 0;
        position: absolute
    }
}
@media (max-width:400px){
    .statsradial > .col-8{
        height: 70%;
        bottom: 0;
        position: absolute
    }
}
#statcirculosvg{
   --humaimax: 350;
   --tempemax: 320;
   --humtimax: 290;
   --lumimax: 260;
   --porcentajehumai: 0;
   --porcentajetempe: 0;
   --porcentajehumti: 0;
   --porcentajelumi: 0
}

path#humai{
    stroke: #44e5b2 !important;
    stroke-dasharray: calc(var(--humaimax) * var(--porcentajehumai)/100), var(--humaimax)!important;
    transition: 1s
}
path#tempe{
    stroke: #e54343 !important;
    stroke-dasharray: calc(var(--tempemax) * var(--porcentajetempe)/100),var(--tempemax)!important;
    transition: 1s
}
path#humti{
    stroke: #43a6e5 !important;
    stroke-dasharray: calc(var(--humtimax) * var(--porcentajehumti)/100),var(--humtimax)!important;
    transition: 1s
}
path#lumi{
    stroke: #ffeb6d !important;
    stroke-dasharray: calc(var(--lumimax) * var(--porcentajelumi)/100), var(--lumimax) !important;
    transition: 1s
}

path#humaibg{
    stroke: #44e5b2 !important
}
path#tempebg{
    stroke: #e54343 !important
}
path#humtibg{
    stroke: #43a6e5 !important
}
path#lumibg{
    stroke: #ffeb6d !important
}

button.navbar-toggler {
    border: none;
    border-radius: 50em;
    padding: 0.75rem .75rem;
    background: white
}
.navbar-light .navbar-toggler {
    color: rgb(0, 0, 0) !important;
    outline-style: none
}
.info{
    display: block;
    width: 1em;
    height: 1em
}
.navbar{
    z-index: 80000 !important
}


.toggle{
    width: 1.5em;
    height: 1.5em;
    background-image: url("../img/menu.png");
    background-size: contain;
    background-repeat: no-repeat;   
}
.regadera {
    background-image: url("../img/regadera.png");
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat
}

.info{
    background-image: url("../img/info.png");
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;   
}

.actu{
    background-image: url("../img/actu.png");
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;   
}
.menu.fixed-top {
    width: 10rem;
    height: 10rem;
    z-index: 2000;
    display: block;
    position: relative;
    float: right;
    margin-top: 1em
}
.menutop {
    display: block;
    float: right;
    padding: 1em;
    position: relative;
    background: white;
    border-radius: 50%;
    z-index: 2
}

.menuitem {
    display: block;
    position: absolute;
    right: 0.7em;
    z-index: 1;
    margin: 0;
    transition: 0.3s
}
.item{
    width: 1.5em;
    height: 1.5em;
    background-color: white;
    padding: 1.2em;
    border-radius: 50%;
    transition: 0.3s;
    opacity: 0;
}

.gira20.abierto{
    transform: rotate(0deg);
    transform-origin: right
}
.gira45.abierto{
    transform: rotate(-45deg);
    transform-origin: right
}
.gira90.abierto{
    transform: rotate(-90deg);
    transform-origin: right
}
.abierto > .item{
    margin-right: 3em;
    opacity: 1
}
.abierto{
    right: 1.6em
}